<div class="content-wrapper" style="min-height: 706px;">
  <section class="content-header">
    <h1 style="display: inline-flex">
      Products
    </h1>

    <div class="box-tools pull-right">
      <button type="button" class="btn btn-danger" (click)="addProduct()">
        <i class="fa fa-plus-square"></i>
      </button>
    </div>
  </section>

  <!-- Main content -->
  <section class="content">
    <div *ngFor="let product of products | async" class="row">
      <app-product-details [product]='product'></app-product-details>
    </div>

  </section>
</div>