<div class="content-wrapper" style="min-height: 706px;">
  <!-- Content Header (Page header) -->
  <section class="content-header">

    <div class="box box-primary box-solid">
      <div class="box-header with-border">
        <h1 class="box-title">Features</h1>
        <div class="box-tools pull-right">      
          <button type="button" class="btn btn-social-icon btn-primary"(click)="addProduct()">
            <i class="fa fa-plus-square"></i>
          </button>         
        </div>
      </div>
    </div>
  </section>

  <!-- Main content -->
  <section class="content">
    <div *ngFor="let feature of features | async" class="row">
      <app-feature-details [feature]='feature'></app-feature-details>
    </div>

  </section>
</div>