<div class="content-wrapper" style="min-height: 706px;">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1 style="display: inline-flex">
      Features
    </h1>

    <div class="box-tools pull-right">
      <button type="button" class="btn btn-danger" (click)="addFeature()">
        <i class="fa fa-plus-square"></i>
      </button>
    </div>
  </section>
  <!-- Main content -->
  <section class="content">
    <div *ngFor="let feature of features | async" class="row">
      <app-feature-details [feature]='feature'></app-feature-details>
    </div>

  </section>
</div>