<div class="col-md-12 col-xs-12 col-lg-12">
  <div class="box box-warning box-solid">
    <div class="box-header with-border">
      <h3 class="box-title">{{customer.lastName}}</h3>

      <div class="box-tools pull-right">      
        <button type="button" class="btn btn-box-tool" data-widget="collapse">
          <i class="fa fa-minus"></i>
        </button>

      </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="description-block border-right">
            <h5 class="description-header">First Name</h5>
            <span class="description-text">{{customer.firstName}}</span>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="description-block border-right">
            <h5 class="description-header">Last Name</h5>
            <span class="description-text">{{customer.lastName}}</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="description-block border-right">
            <h5 class="description-header">Phone</h5>
            <span class="description-text">{{customer.phone}}</span>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="description-block border-right">
            <h5 class="description-header">Email</h5>
            <span class="description-text">{{customer.email}}</span>
          </div>
        </div>
      </div>
      <!-- /.row -->
    </div>
    <!-- ./box-body -->
    <div class="box-footer">
      <div class="row">

      </div>
      <!-- /.row -->
    </div>
    <!-- /.box-footer -->
  </div>
  <!-- /.box -->
</div>