<div class="content-wrapper" style="min-height: 706px;">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      {{pageTitle}}
    </h1>
  </section>

  <!-- Main content -->
  <section class="content">

    <div class="box box-warning">
      <div class="box-header with-border">
        <h3 class="box-title">Product Image Details</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <form role="form" #imageForm="ngForm" (ngSubmit)="save()">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-12">
              <div class="form-group has-feedback">
                <label>Name</label>
                <input type="text" class="form-control" placeholder="Image tags..." required minlength="4" maxlength="100" name="imgTag"
                  [(ngModel)]="currentImage.tags" #imgTag="ngModel"  data-toggle="tooltip" title="Use ',' (comma) to sperate the tags.">
                <div *ngIf="imgTag.errors && (imgTag.dirty || imgTag.touched)" class="alert alert-danger">
                  <div [hidden]="!imgTag.errors.required">
                    name is required!
                  </div>
                  <div [hidden]="!imgTag.errors.minlength">
                    length should be between 4 to 100 charecters
                  </div>
                  <div [hidden]="!imgTag.errors.maxlength">
                    length should be between 4 to 100 charecters
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-xs-12">
              <div class="form-group has-feedback">
                <label>Location</label>
                <input type="text" class="form-control" placeholder="Location..." required minlength="5" maxlength="56" name="fsLocation"
                  [(ngModel)]="currentImage.location" #fsLocation="ngModel">
                <div *ngIf="fsLocation.errors && (fsLocation.dirty || fsLocation.touched)" class="alert alert-danger">
                  <div [hidden]="!fsLocation.errors.required">
                    location is required!
                  </div>
                  <div [hidden]="!fsLocation.errors.minlength">
                    length should be between 25 to 56 charecters
                  </div>
                  <div [hidden]="!fsLocation.errors.maxlength">
                    length should be between 25 to 56 charecters
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12">
              <div class="form-group has-feedback">
                <label>Select File</label>
                <input type="file" class="form-control" placeholder="Select a file..." required (click)="setFileFlags()" (change)="onImageChangeFromFile($event)">
                <div *ngIf="showFileError" class="alert alert-danger">
                  <div [hidden]="!showFileError">
                    please provide a file!
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <br>
          </div>

          <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-12">
              <!-- Progress bar -->
              <div *ngIf="showProgress" class="progress-group">
                <span class="progress-text">Uploading Image</span>
                <span class="progress-number">
                  <b>{{currentImage.progress}}</b>/100</span>
                <div class="progress sm">
                  <div class="progress-bar progress-bar-success progress-bar-striped" [ngStyle]="{'width': currentImage.progress + '%'}"></div>
                </div>
              </div>

              <!-- Success Message -->
              <div *ngIf="showSuccessMessage" class="alert alert-success alert-dismissible">
                <h4>
                  <i class="icon fa fa-check"></i> Uploaded!</h4>
                Product image uploaded scuccessfully.
              </div>


              <!-- Error Message -->
              <div *ngIf="showUploadError" class="alert alert-danger alert-dismissible">
                <h4>
                  <i class="icon fa fa-ban"></i> Failed</h4>
                Sorry, something went wrong while uploading your image..
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-xs-12">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-xs-12">
                  <button type="button" class="btn btn-block btn-danger btn-lg" (click)="back()">Cancel</button>
                </div>
                <!-- imageForm.invalid && -->
                <div class="col-lg-6 col-md-6 col-xs-12">
                  <button type="submit" [disabled]="!(imageForm.valid  && fileSelectedIsValid)" class="btn btn-block btn-primary btn-lg">
                    <i class="fa fa-save"></i> Save</button>
                </div>
              </div>
            </div>
          </div>

        </form>
      </div>
      <!-- /.box-body -->
    </div>

  </section>
  <!-- /.content -->
</div>